S3method(print,equiv_corr)
S3method(print,normcomp)
S3method(print,subsmed_equiv_boot)
export(equiv_corr)
export(equiv_drs)
export(equiv_rs)
export(normcomp)
export(subsmed_equiv_boot)
export(wellek_welch)
